# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3

# Media uploads
media/

# Virtual environments
venv/
myenv/
env/
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# Environment variables
.env
